@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
